html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    margin:  auto;
    background-image: url("chat-bot-robot-online-chatting-communication-business-internet-technology-concept-137699434");
    background-position: center;
    background-size: cover;
}
/* .container .navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
  }
  
  .custom-nav .custom-nav-item a {
    color: #fff !important;
  }
  
  .custom-nav-item:hover {
    background-color: #dc3545;
    border: solid #dc3545 1px;
    border-radius: 10px;
  } */
 